@font-face {
    font-family: newsCycleRegular;
    src: url("../fonts/NewsCycle-Regular.ttf");
}

@font-face {
    font-family: newsCycleBold;
    src: url("../fonts/NewsCycle-Bold.ttf");
}

@font-face {
    font-family: novecentoRegular;
    src: url("../fonts/Novecentosanswide-Medium-webfont.ttf");
}

@font-face {
    font-family: novecentoBold;
    src: url("../fonts/Novecentosanswide-Bold-webfont.ttf");
}
