// Black, white, grays
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$gray-dark: rgba(28, 28, 28, 1);
$gray-medium: rgba(83, 83, 83, 1);
$gray-light: rgba(200, 200, 200, 1);

// Purples
$purple-darkest: rgba(53, 3, 87, 1);
$purple-dark: rgba(79, 10, 126, 1);
$purple-medium: rgba(110, 34, 161, 1);
$purple-light: rgba(134, 75, 177, 1);
$purple-lightest: rgba(189, 150, 215, 1);

// Blues
$blue-darkest: rgba(31, 6, 88, 1);
$blue-dark: rgba(50, 16, 128, 1);
$blue-medium: rgba(79, 41, 165, 1);
$blue-light: rgba(111, 81, 180, 1);
$blue-lightest: rgba(173, 154, 217, 1);

// Pinks
$pink-darkest: rgba(91, 0, 77, 0.3);
$pink-dark: rgba(132, 2, 112, 0.5);
$pink-medium: rgba(169, 27, 147, 0.3);
$pink-light: rgba(185, 71, 167, 0.3);
$pink-lightest: rgba(220, 149, 209, 0.3);
