@import "variables";
@import "fonts";

html, body, #app, .site-container, .body-col, .nav-col { height: 100%; }
body {
	background-image: url("../img/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.body-col { padding: 1em; }
